

body{
    font-family: Montserrat,sans-serif;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.form-elemanlar{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: Rubik  ;
}

.form-control{
    margin-top: 1rem;
    border-radius: 0.5rem;
}


.darkcontainer{
    opacity: 100%;

}

.baslik{
    font-size: 2rem;
    color: gold;
    margin-top: 1rem;
    margin-left: 1rem;
}

.icerik {
    color: black;
    font-size: 1.25rem;
    font-family: Rubik, sans-serif;
    margin-bottom: 0rem;
    text-align: center;
}

.btn-primary{
    background-color: gold;
    border: 1px solid #101010;
    border-radius: 0.5rem;
    color: black;
    font-weight: 500;

}

.img-iletisim{
    margin-top: 4.2rem;
}

.c-img{
    box-shadow: 0 0 20px rgb(255, 251, 0, 0.3);
    height: 425px;
    width: 500px;
}

.container {

    justify-content: center;
    align-items: center;
    align-items: flex-start; /* İkonların aşağı kaymasını sağlamak için 'flex-start' kullandık */

}

.ikon{
    font-size: 2.5rem;
    color: gold;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 0rem;
}

.ikonlar{
    margin-top: -5.5rem;
}

.c-img{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    height: 37.5rem;
    object-fit: cover;
    object-position: center;
  }

  .alert-danger p{
    color: red;
    font-weight: bold;
  }

  .alert-success p{
    color: black;
    font-weight: bolder;
}