/* FILEPATH: /c:/Users/Müjde Özgüner/Desktop/Gökhan Özgüner WEB PROJECT/css/main.css */
body{
  /* background-color: linear-gradient(rgba(0, 0, 0, 0,1), (0,0,0,0.7)); */
  background-color: #181818;
}

.buyuk-metin {
  font-size: 30px;

}


.navbar {
  font-family: Rubik, sans-serif;
  background-color: #101010;
}

.navbar-brand {
  font-size: 1.5rem;

  color: white;
  transition: ease 0.5s;
}

.navbar-brand:hover {
  font-size: 1.5rem;

  color: gold;
  transition: ease 0.5s;
}

.nav-item {
  padding: 0.15rem;
  margin-right: 1rem;
}

.nav-link{
  color:white;
  transition: ease 0.5s;
 }
 .actived{
   color: gold;
   font-size: 1.005rem;
   font-weight: bold;
 }
 .nav-link:hover{
   color: gold;
   font-size: 1.005rem;
   font-weight: bold;
 }

.logo {
  display: flex;
  justify-content: center;
  height: 92%;
  margin-right: 10px;
  color: white;

}

.darkcontainer{
  margin-top: 2rem;
  background-color: #101010;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lightcontainer{
  margin-top: 2rem;
  background-color: #252525;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer{
  height: 5rem;
  margin-top: 7rem;
  margin-bottom: 0rem;
}

